main {
  text-align: center;
  /*font-family: 'EB Garamond', serif;*/
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

h2 {
  margin: 45px 0;
}

@media only screen and (max-width: 600px) {
  h2 {
    margin: 30px 0;
  }
  h1 {
    margin: 40px 0;
  }
}

p {
  font-size: 18px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}

.intro-jumbotron {
  height: 100vh;
  -webkit-height: 100vh;
  -moz-height: 100vh;
  -ms-height: 100vh;
  -o-height: 100vh;
  background: url(assets/images/background_fountain.png);
  background-size: cover;
  background-color: rgb(234, 245, 255)
}

.intro-jumbotron h1 {
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@media only screen and (max-width: 600px) {
  .intro-jumbotron {
    background-image: url("assets/images/me.png"), url("assets/images/machrie_portrait.jpg");
    background-position: bottom right, center;
    background-repeat: no-repeat;
    background-color: rgb(206, 228, 234);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vw auto, 100vh auto;
    /*background-attachment: fixed;*/
    height: 100vh;
    /*height: -webkit-calc(100% - 0px)*/
    padding: 0;
    margin: 0;
  }

  .intro-jumbotron .landing-content {
    margin: auto;
    padding: 50% 0;
    background: rgba(206, 228, 234, 0.77);
    background: linear-gradient(rgba(78, 108, 111, 0), rgba(206, 228, 234, 0.85), rgba(78, 108, 111, 0));
    background: -webkit-linear-gradient(rgba(78, 108, 111, 0), rgba(206, 228, 234, 0.85), rgba(78, 108, 111, 0));
    background: -moz-linear-gradient(rgba(78, 108, 111, 0), rgba(206, 228, 234, 0.85), rgba(78, 108, 111, 0));
  }

  .intro-jumbotron h1 {
    margin: 20% auto;
  }
}


@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.me {
  position: absolute;
  width: 35%;
  bottom: 0px;
  right: 0px;
  background: url('assets/image/me.png')
}

@media only screen and (max-width: 600px) {
  .me {
    display: none;
  }
}


.butterfly {
  width: 50px;
  padding-right: 20px;
  right: 50%;
  position: absolute;
  -webkit-animation: move 8s;
  animation: move 8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.butterfly {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  border-radius:60px;
  transition-duration: 1s;
}

/* boring text and stuff */
.intro {
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .intro, .about, .machrie, .holyrood {
    min-height: 100vh;
  }
  .intro {
    height: initial;
  }
}

.intro h1 {
  margin-bottom: 50px;
}

.intro p {
}
.intro p.link {
  margin: 30px 0;
}

.link h2 {
  color: #224665;
  text-decoration: none;
}

.link h2 a:hover {
  text-decoration: none;
  color: #455840;
}
@media only screen and (max-width: 600px) {
  div.last-link {
    margin-bottom: 60px;
  }
}
.jumbotron.about {
  background-color: #8db4d7;
  margin: 0;
}

.row.about {
  padding: 8%;
  padding-top: 30px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .about.jumbotron {
    padding: 0;
  }
  .about.jumbotron p {
    font-size: 16px;
  }
}

div.machrie .col-xs-12 {
  padding: 0;
}

#machrie img {
  width: 100%;
}

#machrie .machrie-text {
  padding: 5%;
}
.machrie-text p {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .machrie.jumbotron {
    padding: 0;
  }
  #machrie.machrie-text {
    color: pink;
  }
  .machrie-text p {
  }
}


div.holyrood .col-xs-12 {
  padding: 0;
}

#holyrood img {
  width: 100%;
}

#holyrood .holyrood-text {
  padding: 5%;
}

iframe.twitter-timeline {
  margin: 0 auto !important;
  width: 100% !important;
}
