main {
  text-align: center;
}

.jumbotron {
  height: 100vh;
  background: url(assets/images/background.png);
  background-size: cover;
  background-color: rgb(234, 245, 255)
}

.me {
  position: absolute;
  width: 35%;
  bottom: 0px;
  right: 0px;
}